@import '../../main.scss';

header {
  @include flex (row, space-between);
  @include size (100%, 10vh);
  @include font-text;
  background-color: black;
  font-weight: bold;
  font-size: 15px;
}

.container {
  @include flex (row, space-between, center);
  min-width: 75%;
  height: auto;
  transition: 0.5s ease-in-out;
}

.no-justify-space-evenly {
  justify-content: start;
}

.logo-title {
  @include flex (row);
  min-width: 170px;
  gap: 15px;
}

.logo {
  @include size (70px, 70px);
  background-image: url(img/logo.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.menu {
  display: none;
  color: var(--color-001);
  font-size: 25px;
}

.navigation {
  @include flex (row);
  @include size (70%, auto, 2rem);
  z-index: 4;
}

.back {
  display: none;
  border: 2px whitesmoke solid;
  border-radius: 10px;
  padding: 4px 10px 4px 10px;
}

.left-container, .left-container-dropBar {
  @include flex (row);
  color: var(--color-000);
  position: relative;
  font-size: clamp(12px, 1vw, 15px);
  padding: 2px 0;
  cursor: pointer;
  gap: 6px;
  transition: color 0.3s ease;

    p {
      transform: rotate(0deg);
      transition: transform 0.3s ease;
    }
}

.left-container:hover {
  color: var(--color-001);
}

.left-container:hover p {
  transform: rotate(90deg);
}

.left-container::after {
  content: "";
  @include position (absolute, 0, auto, auto, 0);
  width: 0;
  height: 2px; 
  background-color: whitesmoke;
  transition: 0.3s ease;
}

.left-container:hover::after {
  width: 100%;
}

.left-container-dropBar.active p {
  transform: rotate(90deg);
}

.left-container-dropBar.active {
  color: var(--color-001);
}

.left-container-dropBar:hover {
  color: var(--color-001);
}

.right-container {
  @include size (15%);
  @include flex;
  position: relative;
  font-size: 20px;
  font-weight: 500;
  color: var(--color-001);
}

.sign {
  border: 2px whitesmoke solid;
  border-radius: 10px;
  padding: 4px 10px 4px 10px;
  transition: 0.5s ease-in-out;
}

.user-info {
  @include size (100%, 40px, 1rem);
  @include flex (row);

    img {
      @include size (38px, 38px);
      border-radius: 50%;
      cursor: pointer;
    }
    h3 {
      color: var(--color-001);
    }
}

.user-panel {
  @include position (absolute, auto, 50px, 1rem);
  @include flex (column, center, start);
  @include dropBar;
  display: none;
  padding: 1rem 2rem;
  z-index: 4;
  gap: 1.3rem;
  transition: 0.5s ease-in-out;
  
        .user-info {
          padding-bottom: 6px;
          border-bottom: 1px var(--color-001) solid;
        }

        .user-container {
          @include flex (column, center, start);
          gap: 8px;

        span {
          @include flex (row);
          font-size: 16px;
          color: var(--color-000);
          gap: 12px;
          cursor: pointer;
          transition: 0.5s ease-out;
        }

        span:hover {
          color: var(--color-001);
        }
    }
}

.changeLanguage {
  @include size (100%, 100vh);
  @include position (fixed, 0, 0);
  display: none;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(4px);
  z-index: 5;
  opacity: 0;
  color: var(--color-001);
}

.changeLanguage.show {
  display: flex;
  opacity: 1;
}

.language-container {
  @include size (400px, auto, 1rem);
  @include flex (column, start, center);
  @include dropBar (none);
  padding: 16px 14px;

   span {
    @include size (100%, auto ,8rem);
    display: flex;
    flex-direction: row;
    font-size: 25px;
    font-weight: 500;
   }
   .fa-xmark {
    cursor: pointer;
   }
}

.language-block {
  @include size (100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
  border: 1px var(--color-000) solid;
  padding: 6px 6px;
  cursor: pointer;

    img {
      @include size (2rem, 25px);

    }
}

.dropBar {
  @include position (absolute, auto, auto, auto, -5rem);
  @include dropBar;
  @include flex;
  padding: 4px;
  gap: 6px;

  .container {
    @include size (130px, auto, 8px);
    justify-content: start;
    padding: 4px;
    border-radius: 8px;
    font-size: 20px;
      h3 {
        color: var(--color-001);
      }
  }
  .container:hover {
    background-color: rgba(172, 172, 172, 0.342);
  }
}

@media all and (min-width: 501px ) and ( max-width: 768px ) {

  .user-info {
    h3 {
      display: none;
    }
    .user-panel {
      @include size (100%, 100%);
      position: fixed;
      top: 0;
      left: 0;
      align-items: center;
      background-color: transparent;
      backdrop-filter: blur(20px);
      animation: none;
      
      .user-container {
        gap: 2rem;

        span {
          font-size: 18px;
        }
      }
      .user-info {
        display: none;
      }
  }

  }

  .title {
    display: none;
  }

  .container {
    justify-content: start;
  }

  .menu {
    display: flex;
  }

  .navigation {
    @include size (100%, 100%, 1rem);
    @include position (fixed, 0, 0);
    display: none;
    backdrop-filter: blur(20px);
    flex-direction: column;
    color: var(--color-001);
  }

  p {
    display: none;
  }

  .back {
    @include position (absolute, 2%, 2%);
    display: flex;
  }

  .right-container {
    font-size: 15px;
  }
}

@media all and ( max-width: 500px ) { 
  
  .user-info {
    h3 {
      display: none;
    }
    .user-panel {
      @include size (100%, 100%);
      @include position (fixed, 0, 0);
      align-items: center;
      background-color: transparent;
      backdrop-filter: blur(20px);
      animation: none;
      
      .user-container {
        gap: 2rem;

        span {
          font-size: 18px;
        }
      }
      .user-info {
        display: none;
      }
    }
  }

  .container {
    min-width: 70%;
  }

  .right-container {
    @include size (30%);
    font-size: 15px;
  }

  .menu {
    display: flex;
  }

  .navigation {
    @include size (100%, 100%, 1rem);
    @include position (fixed, 0, 0);
    display: none;
    backdrop-filter: blur(20px);
    flex-direction: column;
    color: var(--color-001);
  }

  p {
    display: none;
  }
  
  .back {
    @include position (absolute, 2%, 2%);
    display: flex;
  }
}