@import '../../main.scss';

.main {
  @include font-text;
  @include flex (row);
  @include size (100%, auto, 26px);
  position: relative;
  background-color: black;
  overflow: hidden;
}

.about-container {
  @include size (100%,100%);
}

.leftPanel  {
  @include flex (column);
  @include size(55%, 100%, 4rem);
  padding-bottom: 1rem;
  color: var(--color-000);
}

.belance-background {
  @include size (100%, 400px);
  text-align: center;
  z-index: 1;
}

.belance {
  @include flex (row,space-evenly,center);
  @include size (100%, 100%, 10px);
  position: relative;
}

.home-title {
  @include flex (row,start);
  @include size (auto, auto, 8px);
  color: var(--color-001);
  font-size: 35px;
}

.home-logo {
 @include size (30px, 30px);
}

.belance-container {
  @include flex (column,space-evenly,start);
  @include size (45%, 95%);
  animation: bottom 2s ease-in-out forwards;
}

.information {
  @include flex (column,center,center);
  @include size (100%, 100%, 8px);
  border-radius: 16px;
  font-size: 13px;
}

.services {
  @include size (90%, auto, 8px);
  display: flex;
  flex-direction: column;
  font-size: 25px;
  color: var(--color-001);
}

.skills-container {
  @include size (auto, auto, 6px);
  display: flex;
  flex-direction: column;
}

.skills {
  @include flex (row, space-between, center);
  font-size: 15px;
  color: var(--color-000);
  gap: 8px;
}

.ui {
  @include size (30px, 30px);
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 0px 20px var(--color-001));
  padding: 1px;

    img {
      filter: grayscale(50%);
    }
}

.language {
  color: var(--color-001);
}

.about {
  @include flex (column, space-evenly, center);
  @include size (90%, 100%, 8px);
    h1 {
      font-size: clamp(18px, 2vw, 25px);
    }
}

.more {
  font-size: 20px;
  color: var(--color-001);
  padding: 5px 10px 5px 10px;
  border: 1px var(--color-001) solid;
  border-radius: 10px;
  backdrop-filter: blur(4px);
}

.description-container {
  @include flex (row);
  @include size (100%, 380px, 26px);
  position: relative;
  animation: bottom 2s ease-in-out forwards;
}

.description-background {
  @include size (100%, 100%);
  position: relative;
  border-radius: 20px 70px 20px 20px;
  overflow: hidden;
}

.description-background video {
  @include size (100%, 100%);
  object-fit: cover;
}

.background {
  @include size (100%, 100%);
  @include position(absolute, 0, 0);
  background-color: rgba(0, 0, 0, 0.719);
}

/*RightPanel*/

.rightPanel {
  @include flex (column);
  @include size (30%, auto, 4rem);
  padding-bottom: 1rem;
}

.developers-background {
  @include size (100%, 400px);
  position: relative;
  z-index: 1;
  overflow: hidden;
  animation: bottom 2s ease-in-out forwards;
}

.hover-info {
  @include size (100%, 100%);
  @include position(absolute, 0, 0);
  display: none;
  backdrop-filter: blur(6px);
  background-color: rgba(0, 0, 0, 0.719);
}

.hover-info.visible {
  display: flex;
  animation:  bottom 1s ease-in-out forwards;
}

.developers-information {
  @include size (100%, 100%, 8px);
  color: var(--color-001);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 8px;
  z-index: 1000;

    span {
      font-size: 25px;
      padding-bottom: 10px;
    }
}

.classification {
  @include size (90%, 15%, 8px);
  display: flex;
  align-items: center;
  font-size: 15px;
  color: var(--color-000);
  background-color: rgba(0, 0, 0, 0.719);
  border-radius: 20px;
}

.developers {  
  @include flex (column);
  @include size (100%, 100%, 8px);
  background-color: rgba(0, 0, 0, 0.87);
  border-radius: 20px 20px 20px 70px;
  color: var(--color-001);
}

.info {
  @include position (absolute, auto, auto, 0);
  font-size: 20px;
  background-color: var(--color-000);
  padding: 2px 10px 2px 10px;
  border-radius: 50%;
  cursor: pointer;
  color: var(--color-black);
}

.developers-container {
  @include flex (column, start, center);
  @include size (95%, 80%, 8px);
}

.developer {
  @include flex (row, space-between, center);
  @include size (90%, 15%);
  padding: 5px 10px 5px 10px;

}

.avatar {
  @include flex;
  font-size: 30px;
  color: var(--color-001);
}

.level {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  color: black;
}

.level-1 {
  background-color: #fc4a4a;
  color: var(--color-001);
}

.level-2 {
  background-color: #cc7777;
}

.level-3 {
  background-color: #ffff66;
}

.level-4 {
  background-color: #78f782; 
}

.level-5 {
  background-color: #30ee30; 
}

.works-scroll-background {
  @include size (100%, 380px);
  position: relative;
  border-radius: 80px 20px 20px 20px;
  overflow: hidden;
}
.works-scroll {
  @include size (100%, 100%);
  position: relative;
  border-radius: 80px 20px 20px 20px;
  overflow: hidden;
}

.img {
  @include size (100%, 100%);
  animation: scroll 5s ease-in-out infinite;
}

.img-overlay {
  @include flex (column, space-evenly, center);
  @include size (100%, 100%);
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.555);
  backdrop-filter: blur(4px);
  animation: bottom 2s ease-in-out forwards;
}

@media all and ( max-width: 1440px ) {

  .main {
    flex-direction: column;
  }

  .leftPanel {
    width: 100%;
  }

  .belance-background{
    border-radius: 20px;
    @include size (70%, 500px);
  }

  .rightPanel {
    @include size (90%, 850px);
    justify-content: space-evenly;
  }

   .developers-background {
    border-radius: 20px;
  }

  .developers {
    border-radius: 0;
  }

  .works-scroll-background {
    border-radius: 20px;
  }

  .works-scroll {
    border-radius: 0;
  }
    
  .img-overlay {
    border-radius: 0; 
    min-width: 101%;
   }
   
  .description-background {
    border-radius: 0;
  }
}

@media all and ( max-width: 768px ) {
  
  .main {
    flex-direction: column;
  }

  .leftPanel {
    width: 100%;
  }

  .belance-background{
    border-radius: 20px;
    @include size (90%, 1000px);
  }

  .information {
    padding: 10px 0 10px 0;
  }

  .belance {
    border-radius: 0;
    flex-direction: column;

    .belance-container:nth-child(2) {
      border-radius: 20px;
    }
  }

  .belance-container {
    width: 95%;
    min-height: 400px;
    justify-content: space-evenly;
  }

  .information {
    padding: 20px 0 20px 0;
  }

  .more { 
    font-size: 15px;
  }


  .rightPanel {
    @include size (90%, 850px);
    justify-content: space-evenly;
  }

  .developers-background {
    border-radius: 20px;

  }

  .developers {
    border-radius: 0;
  }

  .works-scroll-background {
    border-radius: 20px;
  }

  .works-scroll {
    border-radius: 0;
  }

  .img-overlay {
   border-radius: 0; 
   min-width: 101%;
  }

}

@media all and ( max-width: 375px ) { 

  .developer {
    width: 95%;
  }
  
  .home-logo {
    display: none;
  }

  .workExpirience {
    display: none;
  }

  .works {
    font-size: 15px;
  }

  .level {
    display: none;
  }

  .developers-information {
    gap: 2rem;
  }

}