@import '../../main.scss';

.landing-main {
  @include font-text;
  @include size (100%);
  min-height: 90vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 26px;
  overflow: hidden;
}
.landing-video {
  @include size (70%, 100%);
  position: relative;
  min-height: 90vh;
  animation: bottom 1.5s ease-in-out forwards;

    video {
      @include size (100%, 100%);
      position: absolute;
      object-fit: cover;
    }
}

.video-overlay {
  @include size (101%, 90vh);
  position: absolute;
  bottom: 0;
  left: 0;

  background: linear-gradient(0deg, #00000000, #000);
}

.video-overlay--top {
  background: linear-gradient(90deg, #00000021, #000);
}

.landing-start {
  @include size (30%, 100%, 24px);
  @include flex;
  position: relative;
  background-color: var(--color-black);
  text-align: center;
  animation: fromRight 1.5s ease-in-out forwards;
}

.landing-text {
  @include size (90%);
  font-size: 20px;
  text-align: center;
  color: var(--color-000);
}

.start {
  padding: 5px 10px 5px 10px;
  border: 1px whitesmoke solid;
  border-radius: 10px;
  font-size: clamp(15px, 1vw, 25px);
  color: var(--color-001);
  cursor: pointer;
}

.fade-out {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

@media all and ( max-width: 768px ) {

  .landing-video {
    @include size (100%, 90vh);
  }

  .video-overlay {
    @include size (100%, 90vh);
  }

  .video-overlay--top  {
    @include size (100%, 90vh);
    display: block;
  }

  .landing-start {
    @include size (100%, 30%);
    position: absolute;
    left: 0;
    top: 30%;
    background-color: transparent;
  }
}