@import '../../main.scss';

.container-register {
  @include flex (column);
  @include size (250px, auto, 1rem);
  position: relative;
  padding: 20px;
  border-radius: 10px;
  color: var(--color-001);
  text-align: center;

  h1 {
    font-size: clamp(15px, 3vw, 25px);
  }

}

.auth {
  @include size (100%, auto, 8px);
  @include flex (column);
  position: relative;
}

.login {
  @include size (250px);
  position: relative;
  padding: 12px 8px;
  border-radius: 12px;
  box-shadow: 0 0 2px var(--color-001);

  .lock {
    @include size (100%, 100%);
    @include flex;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.699);
  }

   .signAuth {
    text-align: center;
   }
}
