@import '../../../../main.scss';

.maketUnit {
  @include size (100%, auto, 2rem);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}

@media all and (max-width: 1024px) {  
  .maketUnit {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}

@media all and (max-width: 510px) {  
  .maketUnit {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
  }
}