.header-container {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px rgba(255, 255, 255, 0.250) solid;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}