@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
}

html,body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  background-color: var(--color-black);
}

::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar-track {
  background: black;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(20, 20, 20);
  box-shadow: 0 -100vh 0 100vh var(--color-black), 0 0 15px 5px var(--color-000);
}

::selection {
  background: transparent;
}

h1 {
  font-size: clamp(20px, 2vw, 40px);
  color: var(--color-001);
  font-weight: 500;
}

h2,h3 {
  color: var(--color-001);
  font-size: clamp(12px, 2vw, 14px);
}

h3,h5 {
  color: var(--color-000);
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
  width: auto;
  height: auto;
}

:root {
  --text-font-family: "Comfortaa", sans-serif;
  --text-font-optical-sizing: auto;
  --text-font-weight: weight;
  --text-font-style: normal;
  --color-000: rgb(161, 161, 161);
  --color-001: whitesmoke;
  --color-002: rgb(24, 221, 96);
  --color-003: rgba(59, 131, 246, 0.822);
  --color-004: #A8C0A0;
  --color-005: rgb(206, 206, 206);
  --color-black: black;
  --gradient:  linear-gradient(120deg, #2c3e50,#4b8181,#a8c0a0);
}

@keyframes drop { 
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes scroll {
  0% { 
    transform: translateX(30%);
    opacity: 0;
  }
  20%{
    transform: translateX(0);
  }
  40%{
    opacity: 1; 
  }
  85%{
    transform: translateX(0);
    opacity: 1;
  }
  90%{
    opacity: 0;
  }
  100% { 
    transform: translateX(30%);
    opacity: 0; 
  }
}

@keyframes bottom {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fromRight {
  0% {  
    opacity: 0;  
    transform: translateX( 150%);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateX();
  }
}

@keyframes toRight {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  80% {
    transform: translateX(500px);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
