@mixin flex($flex-direction: column , $justify-content:center, $align-item:center) {
  display: flex;
  align-items: $align-item;
  justify-content: $justify-content;
  flex-direction: $flex-direction;
}

@mixin font ($text-align:center){
  font-size: clamp(12px, 1vw, 15px);
  font-weight: 500;
  text-align: $text-align;
}

@mixin font-text {
  font-family: var(--text-font-family);
  font-optical-sizing: var(--text-font-optical-sizing);
  font-weight: var(--text-font-weight);
  font-style: var(--text-font-style);
}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin size ($wigth:auto, $height:auto, $gap:0){
  width: $wigth;
  height: $height;
  gap: $gap;
}

@mixin position ($position:absolute, $left:auto, $top:auto, $right:auto, $bottom:auto){
  position: $position;
  left: $left;
  top: $top;
  right: $right;
  bottom: $bottom;
}

@mixin dropBar ($shadow: 0 0 8px var(--color-000)){
  border-radius: 12px;
  background-color: var(--color-black);
  box-shadow: $shadow;
  animation: drop 0.2s ease-in-out forwards;
}