@import "../../../main.scss";

.wrapper {
  @include font-text;
  @include flex (column, center, center);
  @include size (100%, auto, 2rem);
  position: relative;
  padding: 20px 0;
}

.profile-container {
  @include flex (column, center, start);
  @include size (80%, auto, 3rem);
  border-radius: 12px;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.836);
  border: 1px solid rgba(255, 255, 255, 0.192);
  animation: bottom 1s ease-in-out forwards;
  z-index: 2;


  .profile-title {
    @include flex (column, center, start);
    @include size (auto, auto, 8px);
  }
}

.data-container {
  @include flex (row);
  @include size (100%, auto, 2rem);
}

.data-user {
  @include flex (column, center, start); 
  @include size (100%, auto, 8px);


  span {
    @include size (95%);
    color: var(--color-black);
    font-size: clamp(14px, 2vw, 18px);
    background-color: var(--color-001);
    border-radius: 6px;
    padding: 4px;
  }
}

.userAvatar {
  @include flex (column, center, start);
  @include size (90%, auto, 8px);


  h3 {
    color: var(--color-001);
  }
  img {
    @include size (64px, 64px);
    border-radius: 50%;
  }
}

.notification-container {
  @include flex;
  @include size (100%, auto, 1rem);

}

.notification {
  @include flex (row, space-between);
  @include size (100%);
}

.switch {
  @include size (60px, 36px);
  position: relative;
  display: inline-block;
  border-radius: 20px;
  overflow: hidden;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  @include size (26px, 26px);
  position: absolute;
  content: "";

  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--color-002);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.switch[data-state="unchecked"] .slider {
  background-color: var(--color-000);
}

.coment-container {
  @include flex(column, center, start);
  @include size (100%, auto, 8px);
  overflow: hidden;
}

.textarea {
  max-width: 98%;
  min-width: 98%;
  max-height: 8rem;
  min-height: 8rem;
  padding: 1%;
  border-radius: 6px;
  border: 1px solid var(--color-000);  
  font-size: 1rem;  
  background-color: #f9f9f9;  
  transition: border-color 0.3s ease;
}

.textarea:focus {
  border-color: var(--color-black);  
  outline: none; 
}

.submit-button {
  background-color: var(--color-001); 
  color: var(--color-black); 
  border: none; 
  border-radius: 6px;
  padding: 10px 20px; 
  font-size: 1rem; 
  cursor: pointer; 
  transition: background-color 0.3s ease, box-shadow 0.3s ease;  /* Плавные переходы для фона и тени */
}

.submit-button:hover {
  background-color: var(--color-000); 
}


.submit-button:disabled {
  background-color: var(--color-000);  
  cursor: not-allowed;  
}

@media all and (max-width: 425px) {

  .profile-container {
    width: 70%;
  }
  .data-container {
    flex-direction: column;
  }
  .data-user {
    span {
      width: 95%;
    }
  }
  .avatar {
    img {
      @include size (42px, 42px);
    }
  }

  .notification {
    h3 {
     max-width: 150px;
    }
  }

}