@import '../../../../main.scss';

.main-container {
  @include font-text;
  @include center;
  position: relative;
  width: 100%;
  height: auto;
  background-color: black;
  gap: 2rem;
  overflow: hidden;
  flex-direction: column;
}

.container-left,
.container-right {
  @include flex (column);
  @include size (45%, auto, 4rem);
  @include position (relative, 0, 3rem);
  z-index: 1;
}

.container-left {
  justify-content: start;
  animation: bottom 2s forwards;
}

.container-right {
  @include flex (column, start, end);
  animation: bottom 2s forwards;
}

.about-text-container,
.information-container {
  @include flex (column, start, start);
  position: relative;
  gap: 2rem;
}

.about-text-container {
  @include size (75%, 30vh, 26px);
}

.information-container {
  width: 88%;
  min-height: 55vh;

  .about-text-container {
    width: 40%;
    top: 5rem;
  }
}

.values-container,
.clients-container {
  display: flex;
  justify-content: start;
  gap: 8px;
}

.values-container {
  flex-direction: row;
  font-size: 13px;
  color: var(--color-005);
}

.clients-container {
  @include flex (row, start, start);
  font-size: 13px;
  color: var(--color-000);
}

.text-container {
  @include flex (column, center, start);
  color: var(--color-000);
}

.bubna {
  @include flex (row, center, start);
  gap: 5rem;
}

.coments {
  @include flex (column, start, start);
  width: 30%;
  gap: 8px;
}

.clients {
  @include flex (column, start, start);
  gap: 8px;
}

.quoteRight {
  @include flex (column, center, center);
  color: var(--color-black);
  font-size: 30px;
  padding: 5px;
  border-radius: 100px;
  background-color: var(--color-001);
}

.contact-us {
  @include position (absolute, auto, 15%, -100%);
  @include flex (column, center, center);
  border: 2px whitesmoke solid;
  border-radius: 10px;
  padding: 4px 10px;
}

@media all and (max-width: 1440px) {
  .main-container {
    padding-bottom: 10rem;
  }

  .container-left,
  .container-right {
    align-items: center;
  }

  .about-text-container {
    width: 100%;
    height: auto;
    min-height: 200px;
  }
}

@media all and (max-width: 1024px) {
  .container-left,
  .container-right {
    width: 80%;
  }

  .information-container {
    width: 100%;
    align-items: center;

    .about-text-container {
      width: 50%;
      align-items: center;
    }
  }

  .bubna {
    gap: 2rem;
  }

  .clients-container {
    width: 200px;
  }

  .contact-us {
    left: 0;
    top: 10rem;
    height: 30px;
    width: 100px;
  }
}

@media all and (max-width: 768px) {
  .bubna {
    position: relative;
    left: -60px;
    width: 90%;
    flex-direction: column;
    align-items: center;
  }

  .clients-container {
    width: 250px;
  }

  .contact-us {
    @include size (80px, 25px);
  }
}