@import '../../../../main.scss';

.proud-container {
  @include size (100%, auto, 3rem);
  @include font-text;
  @include flex;
  padding-bottom: 2rem;
  position: relative;
  color: var(--color-001);
}

.title-container {
  @include size (50%, auto, 1rem);
  @include flex;
  @include font;
  animation: bottom 2s forwards;
}

.projects-container {
  @include size (90%, auto, 2rem);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  position: relative;
  animation: bottom 2s forwards;
}

.projects {
  @include size (100%, 40vh, 1rem);
  @include flex(column,start);
  @include font(none);
  position: relative;
  min-height: 350px;
  border-radius: 12px;
  padding: 12px 0;
  box-shadow: 0 0 4px rgba(216, 216, 216, 0.2);

    h3 {
      color: var(--color-001);
      font-weight: 600;
    }

    h4 {
      color: var(--color-000);
      font-weight: 500;
    }
    img {
      width: 34px;
      height: 34px;
    }
}

.project-title {
  @include size (100%);
  @include flex (row, space-between,  center);
}

.wallpaper {
  @include size (90%, 200px);

    img {
      @include size (100%, 100%);
      border-radius: 8px;
      object-fit: contain;
    }
}

.description-projects {
  @include flex(column,start,start);
  @include size (90%, auto, 1rem);

}

@media all and ( max-width: 1024px ) {
  .projects-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);

  }
}

@media all and ( max-width: 768px ) {

  .title-container {
    @include size (70%, auto, 1rem);
  }

}

@media all and ( max-width: 500px ) {
    .projects-container {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(7, auto);
  }
}