@import "../../../../main.scss";

.soon {
  @include font-text;
  @include flex (column);
  @include size (100%, 90vh, 8px);
  position: relative;
  font-size: clamp(30px, 5vw, 50px);
  color: var(--color-001);
  overflow: hidden;
  animation: bottom 3s ease-in-out forwards;
}

.soon-text, .start-index {
  z-index: 2;
}

.soon video {
  position: absolute;
  @include size (100%, 100%);
  object-fit: cover;
}
