@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.title {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  text-wrap: balance;
  line-height: 1.2;
  gap: 1rem;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
  opacity: 0.9;
}

h4 {
  opacity: 0.8;
}

h5 {
  opacity: 0.8;
}

body {
  background: var(--background);
  color: var(--foreground);
}
